Options +MultiViews -Indexes
ErrorDocument 401 ./expiration
ErrorDocument 402 ./expiration
ErrorDocument 403 ./expiration
ErrorDocument 404 ./expiration
ErrorDocument 410 ./expiration
ErrorDocument 412 ./expiration
ErrorDocument 451 ./expiration